@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@300;400;500;700&family=Outfit:wght@400;700&display=swap');
body{
    font-family: 'Epilogue', sans-serif;
    padding: 0;
    margin: 0;
    width: auto;
}
.ham-img{
    display: none;
}
#icon-col{
    color: blue;
}
p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
}
h2{
    text-align: center;
}
#nav-section-1{
    /* background-color: black; */
    background-color: rgb(207, 176, 2);
    padding: 13px;
    position: sticky;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
#ul-1{
    flex: 1;
    max-width: 60%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
#ul-1,.li-1{
    display: inline;
    margin: 0 12px;
    padding: 0;
}
a{
    font-size: 16px;
    padding: 0 10px;
    color: rgb(61, 61, 61);
    text-decoration: none;
    padding-top: 2px;
}
a:hover{
    font-size: 17px;
    color: blue;
    transition: .1s .1s;
}
.signup{
    background-color: blue;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 0 10px;
}
.signup:hover{
    color: black;
}
.signin{
    color: black;
    background-color: white;
    padding: 5px 15px;
    border-radius: 20px;
}
i:hover{
    cursor: pointer;
}
h1{
    text-align: center;
}
#section-2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.write{
    width: 55%;
}
.explain{
    width: 80%;
}
.ul-write{
    margin-top: 30px;
}
.analysis{
    display: flex;
    margin-top: 30px;
}
.analyze{
    padding: 0 20px 0 0;
}
.analyze-3{
    padding: 0 40px 0 50px;
}
button{
    padding: 8px 60px;
    margin: 30px 7px 0 0;
    font-size: 16px;
    color: white;
    
}
.apply{
    background-image: linear-gradient(to right, blue, rgb(207, 176, 2));
    border-radius: 20px;
}
.up{
    background-color: blue;
    border-radius: 20px;
}
.hero{
    width: 23em;
    height: 25em;
}
#section-3{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;

}
.dealer{
    width: 22em;
    height: 15em;
}
.write-2{
    width: 55%;
}
#section-4{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.write-3{
    width: 55%;
    margin: 0 60px;
}
#section-5{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.write-4{
    width: 55%;
    margin: 0 60px;
}
.ceo{
    width: 20em;
    height: 20em;
    border-radius: 25%;
    margin-right: 20px;
}
.contact-me{
    text-align: left;
}
i{
    color: black;
    font-size: 30px;
    margin-top: -10px;
}
.icon-me{
    padding: 0 20px 0 0;
}
#register{
    background-color: black;
    color: white;
    width: 93%;
    height: 180px;
    margin: 45px auto;
    padding-top: 30px;
    opacity: .8;
    border-radius: 30px;
    text-align: center;
}
.sign{
    font-size: 35px;
}
.input-p{
    margin-top: -20px;
    font-size: 15px;
}
.input{
    padding: 5px 50px;
    border-radius: 15px;
}
footer{
    justify-content: space-between;
    z-index: 0;
    margin-top: -50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-start;
    height: 150px;
    padding: 50px;
}
li{
    list-style-type: none;
}
.trusties{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.footer-img{
    width: 100px;
    height: 35px;
    padding: 5px;
}
.learn-li{
    padding: 5px 0;
}
.about-li{
    padding: 5px 0;
}
.contact-li{
    padding: 5px 0;
}
.footer-a{
    color: blue;
}
.contact-me-2{
    margin-top: 20px;
}
#footer-icon{
    color: white;
    font-size: 25px;
    padding: 2px;
}

/* media screen */

@media (max-width:915px) {
    body{
        width: 100%;
    }
    #ul-1,.nav-register{
        display: none;
    }
    .ham-img{
        display: block;
    }
    .ham-img:hover{
        cursor: pointer;

    }
}


